.chat {
    height: 20em;
    overflow-y: scroll;
}
.repl {
    overflow-y: scroll;
    resize: vertical;
    height: 10em;
}
.display-inline-block {
    display: inline-block;
}
.icon{
    font-size: x-large;
    vertical-align: sub;
}
.roomList,
.zombieList {
    height: 15em;
    overflow-y: scroll;
}
.roomList-footer,
.zombieList-footer {
    height: 5em;
}
.roomId {
    font-family: monospace;
    font-size: 150%;
}
.zombie-logs div.card-body,
.zombie-chat div.card-body
{
    overflow: scroll;
    white-space: pre;
    height: 200px;
    resize: vertical;
}
.zombie-repl {
    height: 200px;
}
.zombie-repl pre {
    height: 150px;
    margin: 0;
    overflow-y: scroll;
}
.zombie-repl form div,
.zombie-repl form div input
{
    height: 50px;
}
.collapseButton{
    vertical-align: baseline;
}
div.zombie-chat div.card-body,
div.zombie-logs div.card-body {
    font-family: monospace;
}
div.zombie-chat div.card-body p,
div.zombie-logs div.card-body p {
    margin:0;
}
.zombieControl .disabled {
    text-decoration: line-through;
}
