.chat {
    height: 20em;
    overflow-y: scroll;
}
.repl {
    overflow-y: scroll;
    resize: vertical;
    height: 10em;
}
.display-inline-block {
    display: inline-block;
}
.icon{
    font-size: x-large;
    vertical-align: sub;
}
.roomList {
    height: 15em;
    overflow-y: scroll;
}
.roomList-footer {
    height: 5em;
}
.zombieList {
    height: 20em;
    overflow-y: scroll;
}
.roomId {
    font-family: monospace;
    font-size: 150%;
}
