.chat {
    height: 20em;
    overflow-y: scroll;
}
.repl {
    overflow-y: scroll;
    resize: vertical;
    height: 10em;
}
.display-inline-block {
    display: inline-block;
}
.icon{
    font-size: x-large;
    vertical-align: sub;
}
